:root{
  --mainBlue:#2a2a72;
  --lightYellow:yellow;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}
body{
  font-family: 'Ubuntu Condensed', sans-serif !important;
  background:var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: 'Montserrat';
  letter-spacing:0.3rem;
  text-transform:uppercase;
}

.text-blue{
  color:var(--mainBlue);
}

.text-bright{
  color:var(--lightyellow);
}